apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: users-app
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: notification-service
